* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Univers LT Std;
}

.marca {
    width: 240px;
    height: auto;
    margin: 20px;
    display: block;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    object-fit: contain;
}

/*------------ CONTAINERS -----------*/
.container-fondo-all {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 850px;
    height: auto;
    margin: 0px auto 30px auto;
    padding-top: 30px;
}
.container-texto {
    height: auto;
    margin: 30px 0px 0px 145px;
    font-weight: lighter;
    font-size: 18px;
    word-break: normal;
    hyphens: auto;
}

.container-nota {
    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-title {
    margin-bottom: 40px;
}

.container-photo {
    margin-bottom: 50px;
}

/*------------ NAV BAR -----------*/

.container-fluid {
    width: 1500px;
}

/*------------ TITULO Y FOTO PRINCIPAL -----------*/

.internacional {
    font-size: 23px;
    font-weight: lighter;
    color: grey;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.title {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 50px;
    color: black;
    font-weight: bolder;
}

.pre-text {
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 28px;
    font-weight: lighter;
    margin: 20px 0px 20px 0px;
}

.submarino-img {
    width: 850px;
    margin-left: -25px;
    height: auto;
}

.bold-first-word {
    font-weight: bold;
}

h3 {
    font-weight: lighter;
    font-size: 16px;
}

.H3-hallazgo {
    font-size: 16px;
    margin-top: 20px;
}

#hr-foto {
    margin-top: -10px;
    color: rgb(5, 30, 245);
}

/*------------ AUTOR NOTA -----------*/

.div-autor {
    width: 810px;
    margin: 20px auto 0px auto;
}

.autor-de-nota {
    width: 100px;
    height: auto;
    border-radius: 100px;
}

.div-autor-datos {
    margin-left: 145px;
    color: black;
}

.nombre-autor {
    font-size: 17px;
    margin-top: -90px;
    font-weight: 800;
}

.origen-autor {
    font-size: 13px;
}

i {
    color: rgb(131, 143, 255);
    font-size: 25px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.hr-nombre-autor {
    margin-top: 0px;
    width: 180px;
    color: rgb(5, 30, 245);
}

/*------------ PARRAFO -----------*/
p {
    font-size: 16px;
    line-height: 28px;
}

/*------------ MITAD PARRAFO -----------*/

.container-suscribete {
    margin: 20px 0px 20px 0px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.destacar-color {
    color: rgb(5, 30, 245);
    font-weight: bolder;
}

.boton-suscribite {
    border-radius: 10px;
    height: 25px;
    width: 80px;
    font-size: 10px;
    background-color: rgb(5, 30, 245);
    color: white;
    border: 0px solid rgb(5, 30, 245);
    margin-top: -5px;
}

.boton-suscribite:hover {
    background-color: rgb(7, 7, 158);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.h3-suscribete {
    font-size: 15px;
}

/*------------ SEGUNDA PARTE -----------*/

.second-title {
    font-weight: bolder;
    margin: 50px 0px 20px 0px;
    font-weight: bold;
}

.fin-entrevista {
    color: black;
    font-size: 20px;
}

/*------------ PIE NOTA -----------*/
.container-pie-nota {
    width: 850px;
    margin-left: -25px;
}

.container-autor-texto-PIE {
    width: 800px;
    margin-top: -65px;
}

.container-datos-autor-PIE {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-left: 100px;
}

.container-autor-PIE {
    margin: 20px;
    height: 130px;
}

.foto-autor-PIE {
    width: 70px;
    height: auto;
    border-radius: 100px;
}

.nombre-autor-PIE {
    color: black;
    font-size: 17px;
    font-weight: 800;
}

.origen-autor-PIE {
    font-size: 13px;
}

.autor-texto {
    font-size: 15px;
    line-height: 20px;
    margin-left: 100px;
}

/*------------ COMMENT STRUCTURE -----------*/
.container-comment-all {
    background-color: rgb(42, 42, 42);
    margin-bottom: 20px;
}

.comment-bar {
    background-color: rgb(42, 42, 42);
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 38px;
}

.arrow {
    margin-top: -35px;
    margin-right: 15px;
    float: right;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

#commentFormContainer.visible+#commentBar .arrow {
    transform: rotate(180deg);
}

.comment-text {
    color: white;
    padding: 5px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bolder;
}

#commentFormContainer {
    margin-top: 10px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}
#commentFormContainer.visible {
    display: block;
    opacity: 1;
    max-height: 500px;
}

#commentInput {
    height: auto;
    width: 815px;
    min-height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}
.button-send-comment{
    display: flex;
    justify-content: center;
}
.button-send-comment {
    border-radius: 10px;
    height: 35px;
    padding: 5px 15px 0px 15px;
    font-size: 13px;
    background-color: rgb(5, 30, 245);
    color: white;
    margin: -5px 20px 10px auto;
}

.button-send-comment:hover {
    background-color: rgb(7, 7, 158);
}

/*------------ PREVIOUS COMMENTS -----------*/
.comment-section {
    padding: 10px;
    border-top: 10px solid #ffffff;
    background-color: rgb(255, 255, 255);
}

.comment {
    margin: 5px 10px 15px 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f5f5f5;
    height: 110px;
}

.comment strong {
    display: block;
    font-size: 15px;
}

.comment span {
    color: #666;
    font-size: 0.9em;
}

.comment p {
    margin: 5px 0 0;
    font-size: 15px;
}

.space-comment-pie {
    height: 20px;
}

/*------------ OTRAS NOTICIAS -----------*/
.contenedor-con-borde{
    border: 1px solid rgb(5, 30, 245);
}
.contenedor-con-borde-vertical{
    border: 1px solid rgb(5, 30, 245);
    width: 1px;
    height: auto;
    margin: 5px 10px 15px 10px;
}
.container-otras-noticias-all{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 850px;
    height: auto;
    margin: 0px auto 100px auto;
}
.container-otras-noticias{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0px 10px;
}
.otras-noticias{
    padding: 20px 0px 10px 20px;
    color: rgb(55, 55, 55);
    font-weight: bold;
}
#container-otras-noticias{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#container-otras-noticias:hover{
    transform: scale(1.01);
    transition: transform 0.3s ease;
}
#texto-otras-noticia-uno{
    margin-left: 10px;
}
#img-otras-noticias{
    width: 100%;
    padding: 0px 10px 15px 10px;
    max-height: 230px;
}
#autor-pais-otras-noticias{
    display: flex;
    margin-bottom: 10px;
}
#titulo-otras-noticias{
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
}
#autor-otras-noticias{
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #666;
    margin-top: 2px;
}
#pais-otras-noticias{
    font-size: 13px;
    color: #666;
    margin-left: 20px;
}
/*------------ FOOTER -----------*/
.row{
    border: 1px solid red;
}
.container{
    margin-bottom: 50px;
}
#editor {

    display: flex;
    border: solid 1px blue;
    border-radius: 15px;
    justify-content: center;
    padding: 1px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.h3-redes{
    font-size: 15px;
    font-weight: bold;
}
#edit {
    margin-top: 10px;
    text-align: center;
    display: flex;
}
li{
    font-weight: bold;
}
#Marca img {

    width: 350px;
    height: 100px;
}
.mini-diario{
    height: 250px;+
    +
    width: auto;
    margin-left: 70px;
}
.leer-papel{
    margin-left: 70px;
    margin-bottom: -20px;
}
.col-6,
#dos {
    display: flex;

}

.cold-4 {
    display: grid;
}

#mini {
    margin-top: 15px;
    display: grid;
}

#pub {
    margin-top: 15px;
    display: grid;
    color: blue;
}

#area {
    /*  display: grid; */
    justify-content: space-between;
}

#area a {
    display: grid;
    text-decoration: none;
    color: black;
}

#Grupo a {
    display: grid;
    text-decoration: none;
    color: black;
}

#Publicidad a {
    display: grid;
    text-decoration: none;
    color: black;
    justify-content: space-between;
}

#area a:hover {
    color: blue;
    text-decoration: underline;
}

#Grupo a:hover {
    color: blue;
    text-decoration: underline;
}

#Publicidad a:hover {
    color: blue;
    text-decoration: underline;
}

.h6-tecnotab-digital {
    color: black
}

#area,
#Grupo,
#Publicidad h5 {
    margin-top: 15px;
    color: blue;
}

.pie {

    margin-top: 50px;
    text-align: center;
}

#marcamini {

    width: 100%;
    height: 100%;
}

#minibutt {
    margin-bottom: auto;
    /* margin: auto;*/
    display: inline-block;
    height: 250px;
    width: 200px;
    text-align: left;
}

#contact {
    width: 15%;
    height: 15%;
    display: flex;
}

#Superior {
    margin-top: 30px;
    display: flex;

}


