.contenedornav {
  border: 0px solid red;
  height: 150px;
}
.coluno {
  border: 0px solid blue;
  margin-right: 5px;
}
.coldos {
  border: 0px solid blue;
  margin-right: 5px;
  margin-left: 5px;
}
.coltres {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  border: 0px solid blue;
  margin-left: 5px;
}
#inputbuscador {
  width: 120px;
  height: 30px;
  margin-left: 5px;
}
#lupa {
  color: solid #000000;
  height: 25px;
}
.lupaboton {
  border: none;
}
#suscribete {
  border-radius: 4px;
  font-size: 12px;
  padding: 7px 25px;
  width: 168px;
}
#suscribete2 {
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 25px;
  width: 178px;
}
.bienvenida {
  width: 200px;
  font-size: 13px;
  border: 2px solid rgb(68, 68, 68);
  padding: 7px 17px 7px 17px;
  border-radius: 10px;
}
#menu {
  width: 10px;
  font-size: 31px;
  margin-right: 20px;
}
#cajamain {
  height: 500px;
}
.fila {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 170px;
  content: "";
  border-bottom: 1px solid rgb(20, 35, 201);
}
.filaDos {
  height: 410px;
  margin: 5px 0px 10px 0px;
  padding-top: 0px;
}

.columna-3-filaUno {
  margin: 5px 0px 20px 0px;
  padding-bottom: 5px;
  content: "";
  top: 1;
  right: 0;
  border-bottom: 1px solid rgb(20, 35, 201);
  box-sizing: border-box;
}
.-filaDos {
  border: 0px solid blue;
  margin: 5px 0px 10px 0px;
  padding-bottom: 5px;
  content: "";
  top: 1;
  right: 0;
  border-bottom: 1px solid rgb(20, 35, 201);
  box-sizing: border-box;
}
.columna-3-filaTres {
  border: 0px solid blue;
  margin: 5px 0px 0px 0px;
  padding-bottom: 5px;
}
.filadoscentro {
  margin: 5px 0px 10px 0px;
}
.divsubmarino {
  background: url(../images/submarino-07.jpg);
  background-size: cover;
  background-position: center;
}
h2 {
  font-family: "Univers LT Std", sans-serif, bold;
  font-weight: 800;
  line-height: 1.05;
  text-align: left;
  font-size: 23px;
  margin-bottom: 15px;
}
.textocorrido {
  text-align: justify;
  font-size: 10px;
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
}
.nombreEscritor {
  font-family: "Univers LT Std", sans-serif;
  font-size: 10px;
  text-align: left;
  line-height: 1.2;
}
.paisEscritor {
  font-family: "Univers LT Std", sans-serif;
  font-size: 10px;
  text-align: left;
  line-height: 1.2;
  color: #696969;
}
#barraSecciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secciones {
  margin: 20px;
  font-family: "Univers LT Std", sans-serif;
  font-size: 13px;
}
.nombre-pais {
  display: flex;
}
.titulo-principal {
  margin-top: 21px;
}
.titulo-noticia-6 {
  margin-top: 19px;
}
#columna-3 {
  content: "";
  top: 1;
  right: 0;
  height: 540px;
  border-left: 1px solid rgb(20, 35, 201);
  box-sizing: border-box;
}
#columna-1 {
  content: "";
  top: 1;
  right: 0;
  height: 540px;
  border-right: 1px solid rgb(20, 35, 201);
  box-sizing: border-box;
}
#seccion-principales {
  padding-top: 30px;
  content: "";
  top: 1;
  right: 0;
  height: 570px;
  border-bottom: 1px solid rgb(20, 35, 201);
  box-sizing: border-box;
}
/*-------------------------------------------------------------*/
#boton-idioma2,
#boton-idioma,
li {
  border-radius: 4px;
  font-size: 12px;
  padding: 7px 18px;
}
#support,
#educacion,
#cultura,
#IA,
#innovacion,
#opinion,
#argentina,
#inter-link {
  font-size: 12px;
  text-decoration: none;
  color: white;
}
#boton-idioma {
  border: 1px solid rgb(20, 35, 201);
  background-color: rgb(20, 35, 201);
}
#suscribete,
#boton-idioma {
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#boton-idioma:hover {
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#item-banner {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0;
}
#text-idioma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
}
.text-date {
  margin: 0;
}
#text-drop {
  margin-right: 70px;
  margin-bottom: 20px;
}
.form-control {
  font-size: 14px;
}
#input-search {
  height: 33px;
  border-radius: 5px;
}
#button-search {
  font-size: 14px;
  height: 33px;
}
.columna-3-filaDos {
  border-bottom: 1px solid rgb(20, 35, 201);
}
