<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internacional</title>
    <link rel="stylesheet" href="styles/delfi-internacional.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Flex:opsz,wght@8..144,100&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <img class="marca" src="assets/images/MARCA-DIARIO-05.png" alt="marca" />
    </header>
    <div class="container-fondo-all">
        <div class="container-nota">
            <div class="container-title">
                <h2 class="internacional">Tecnotab > Internacional</h2>
                <hr id="hr-foto">
                <h1 class="title"> Misterio en el mar: la tragedia de la implosión del submarino </h1>
                <p class="pre-text"> James Cameron comparte detalles impactantes sobre la desaparición del submarino
                    Titán. Tras confirmación de implosión catastrófica, envía correo a colegas informando la trágica
                    situación.
                </p>
            </div>
            <div class="container-photo">
                <img class="submarino-img" src="assets/images/submarino.jpg" alt="submarino">
                <h3 class="H3-hallazgo"><span class="bold-first-word">HALLAZGO.</span> Ultimas fotos del submarino antes
                    de perderse en el océano.
                </h3>
            </div>
            <hr id="hr-foto">
            <div class="div-autor">
                <img class="autor-de-nota" src="assets/images/jamal.jpg" alt="jamal">
                <div class="div-autor-datos">
                    <h2 class="nombre-autor">JAMAL TORRES</h2>
                    <h3 class="origen-autor">Bogotá, Colombia 9 JUL 2023</h3>
                    <hr class="hr-nombre-autor">
                    <a href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram"></i></a>
                    <a href="https://x.com/home">
                        <i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.facebook.com/">
                        <i class="fa-brands fa-facebook"></i> </a>
                    <a href="https://www.linkedin.com/feed/">
                        <i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="container-texto">
                <p> El reconocido cineasta de renombre mundial, James Cameron, ampliamente aclamado por su magistral
                    dirección en la épica película “Titanic” en 1997, compartió detalles impactantes y angustiantes
                    sobre la
                    manera en que recibió la devastadora noticia de la desaparición del submarino Titán en un lapso de
                    menos
                    de 24 horas.
                    <br><br>
                    Según relató Cameron, en un tiempo asombrosamente breve de tan solo una hora, recibió la
                    confirmación de
                    que se había producido un estruendo ensordecedor, habiendo justo coincidido en tiempo con la
                    simultánea
                    pérdida de los comunicadores del submarino.
                    <br><br>
                    En sus propias palabras, describió haber sentido un golpe contundente en el hidrófono y la
                    angustiante
                    pérdida del transpondedor, lo cual tuvo como consecuencia la abrupta interrupción de las
                    comunicaciones.
                    Con su vasto conocimiento y experiencia en el mundo submarino, Cameron fue plenamente consciente de
                    lo
                    sucedido, llegando a la trágica conclusión de que el submarino había sufrido una implosión
                    catastrófica.
                    <br><br>
                    Sintiéndose conmovido por el impacto devastador de la noticia, Cameron, en un gesto de camaradería y
                    respeto hacia sus colegas, decidió comunicarles la trágica situación a través de un correo
                    electrónico
                    enviado en el transcurso del día lunes.
                    En su mensaje, hizo mención del doloroso hecho de que entre las víctimas se encontraban amigos,
                    ydestacó
                    que los restos del submarino estaban en el océano, destrozados.
                </p> <br>
                <hr id="hr-foto">
                <div class="container-suscribete">
                    <h3 class="h3-suscribete">Únete a <span class="destacar-color">TECNOTAB</span> para seguir toda la
                        actualidad y leer sin límites</h3>
                    <button class="boton-suscribite">SUSCRÍBITE</button>
                </div>
                <hr id="hr-foto">
                <h2 class="second-title">Entrevista sobre la desaparición del mini submarino Titán en el océano
                    Atlántico
                </h2>
                <p>- Buenas tardes, hoy estamos aquí para hablar sobre la desaparición del mini
                    submarino Titán y los restos del Titanic en el fondo del océano Atlántico. Para
                    obtener más información, hemos invitado al contralmirante John Mauger de la
                    Guardia Costera estadounidense. Gracias por acompañarnos hoy, Contralmirante Mauger.
                    <br><br>
                    - Es un placer estar aquí y poder compartir información sobre esta situación
                    tan desafortunada.
                    <br><br>
                    - Comencemos por el submarino Titán. Según los informes, los restos hallados
                    en el fondo del océano son compatibles con una implosión catastrófica que
                    sufrió el submarino. <strong>¿Podría proporcionar más detalles al respecto? </strong>
                    <br><br>
                    - Sí, los restos encontrados en el fondo del océano son consistentes con una
                    implosión catastrófica. Aunque aún no podemos confirmar la causa exacta de
                    la implosión, creemos que la presión del océano a esa profundidad pudo haber
                    superado la resistencia del casco del submarino, lo que llevó al colapso de la
                    embarcación.
                    <br><br>
                    - <strong>¿Qué se sabe sobre los tripulantes del submarino Titán? ¿Existe alguna posibilidad de
                        supervivencia?</strong>
                    <br><br>
                    - Lamentablemente, creemos que los cinco tripulantes del submarino Titán,
                    incluido Stockton Rush, CEO de OceanGate Expeditions, han fallecido en el
                    incidente. Según los expertos, es probable que hayan muerto instantáneamente sin sufrir asfixia ni
                    ningún tipo de sufrimiento. Nuestras sinceras condolencias a sus familias y seres queridos.
                    <br><br>
                    - Por último, <strong>¿cree que este trágico incidente impactará en futuras expediciones y
                        exploraciones
                        submarinas?</strong>
                    <br><br>
                    - Sin duda, este incidente servirá como una llamada de atención para la comunidad de exploración
                    submarina. Es esencial que se realicen inspecciones rigurosas y se tomen todas las precauciones de
                    seguridad necesarias antes de
                    sumergirse a profundidades extremas. La seguridad siempre debe ser la
                    máxima prioridad en este tipo de expediciones, y espero que este incidente
                    genere un mayor enfoque en este aspecto.
                    <br><br>
                    - Agradezco su tiempo y su disposición para compartir información sobre este
                    trágico incidente. Nuestros pensamientos están con las familias de los fallecidos y esperamos que se
                    puedan obtener respuestas y lecciones importantes
                    de esta tragedia.
                    <br><br>
                    - Gracias por darme la oportunidad de hablar sobre este tema y crear conciencia sobre los desafíos
                    que
                    enfrentamos en los viajes submarinos.
                    <br><br>
                    <i class="fin-entrevista">Fin de la entrevista</i>
                </p>
            </div>
            <br><br>
            <div class="container-pie-nota">

                <!-- COMENTARIOS -->
                <div class="container-comment-all">
                    <div id="commentBar" class="comment-bar">
                        <h3 class="comment-text">Comentarios - 2</h3>
                        <span id="arrow" class="arrow">&#9660;</span>
                    </div>
                    <div id="commentFormContainer" class="hidden">
                        <form id="commentForm">
                            <textarea id="commentInput" placeholder="Haznos saber qué te pareció la nota..."></textarea>
                            <div class="container-button-comment">
                                <button class="button-send-comment" type="submit">Enviar Comentario</button>
                            </div>
                        </form>

                        <!-- COMENTARIOS PREVIOS -->
                        <div id="commentSection" class="comment-section"></div>
                    </div>
                </div>
                <div class="space-comment-pie"></div>
                <hr id="hr-foto">

                <div class="container-autor-PIE">
                    <img class="foto-autor-PIE" src="assets/images/jamal.jpg" alt="jamal">
                    <div class="container-autor-texto-PIE">
                        <div class="container-datos-autor-PIE">
                            <h2 class="nombre-autor-PIE">JAMAL TORRES | </h2>
                            <h3 class="origen-autor-PIE">Bogotá, Colombia 9 JUL 2023<h3>
                        </div>
                        <p class="autor-texto">Corresponsal jefe de Tecnotab en Colombia. Ha desarrollado su carrera en
                            Tecnotab, donde ha sido redactor jefe de Economía y Negocios, subdirector y director djunto
                            y en
                            el diario económico Cinco Días, del que fue director</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-otras-noticias-all">
        <h4 class="otras-noticias">OTRAS NOTICIAS RELACIONADAS</h4>
        <div class="contenedor-con-borde"></div>
        <div class="container-otras-noticias">
            <div id="container-otras-noticias">
                <div id="texto-otras-noticia-uno">
                    <h4 id="titulo-otras-noticias">Elon Musk fundó "X.AI", una start-up de IA muy irreal y fantástica
                    </h4>
                    <div id="autor-pais-otras-noticias">
                        <h6 id="autor-otras-noticias"> <strong>LAURA MONTHERSATH</strong></h6>
                        <h6 id="pais-otras-noticias">Estados Unidos</h6>
                    </div>
                </div>
                <img id="img-otras-noticias" src="assets/images/elon-musk.jpg" alt="Elon Musk">
            </div>
            <div class="contenedor-con-borde-vertical"></div>
            <div id="container-otras-noticias">
                <div id="texto-otras-noticia-uno">
                    <h4 id="titulo-otras-noticias">OpenAI no desarrollará GPT-5 tras el pedido de pausa de los trabajadores
                    </h4>
                    <div id="autor-pais-otras-noticias">
                        <h6 id="autor-otras-noticias"> <strong>SARA MORALES</strong></h6>
                        <h6 id="pais-otras-noticias">Argentina</h6>
                    </div>
                </div>
                <img id="img-otras-noticias" src="assets/images/openai.jpeg" alt="Elon Musk">
            </div>
        </div>
    </div>
    </div>


    <!-- FOOTER -->

    <div class="container">
        <div class="row" id="Superior">
            <div class="col-4">
                <h3 class="h3-redes">Tecnotab Redes Sociales</h3>
                <div class="col-2" id="contact">

                    <img src="assets/images/logo Face.png">
                    <img src="assets/images/logo Insta.png">
                    <img src="assets/images/logo tel.png">
                    <img src="assets/images/logo Tuit.png">
                    <img src="assets/images/logo you.png">

                </div>
            </div>
            <div class="col-4" id="Marca">
                <img src="assets/images/MARCA-DIARIO-05.png">
            </div>
            <div class="col-4 text-center">
                <button class="boton-suscribite">SUSCRÍBITE</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" id="editor">
                <div class="col-12" id="edit">
                    <div class="col-3">
                        <p><strong>Registro de Propiedad</strong>:123456 </p>
                    </div>
                    <div class="col-3">
                        <p> <strong>Editor Responsable</strong> : Lalo Landa Edicion </p>
                    </div>
                    <div class="col-3">
                        <p> <strong> N° </strong> : 9957 28 de Agosto 2024 Rosario </p>
                    </div>
                    <div class="col-3">
                        <p> <strong> Piedras </strong> 1743 C.A.B.A Argentina </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-4" id="area">

                    <h5><strong>Area Digital</strong></h5>
                    <a href="https://www.google.com.ar">Diario</a>
                    <a href="https://www.google.com.ar">Gran Dt</a>
                    <a href="https://www.google.com.ar">Argenprop</a>
                    <a href="https://www.google.com.ar">Empleos</a>
                    <a href="https://www.google.com.ar">Guia Tecnotab</a>
                    <a href="https://www.google.com.ar">Receptoria Online</a>
                </div>
                <div class="col-4" id="Grupo">
                    <h5> <strong>Grupo Tecnotab</strong></h5>
                    <a href="https://www.google.com.ar">Grupo Tecnotab</a>
                    <a href="https://www.google.com.ar">Noticias Tecnotab</a>
                    <a href="https://www.google.com.ar">TN</a>
                    <a href="https://www.google.com.ar">El TreceTV</a>
                    <a href="https://www.google.com.ar">Mitre</a>
                    <a href="https://www.google.com.ar">La 100</a>
                </div>
                <div class="col-4" id="Publicidad">
                    <h5> <strong>Publicidad</strong></h5>
                    <a href="http.www.google.com.ar">Anúnciese con nosotros</a>
                    <a href="http.www.google.com.ar">Politica de Proteccion de Datos</a>
                    <a href="http.www.google.com.ar">Normas de confidencialidad y privacidad</a>
                    <a href="http.www.google.com.ar">Defensa de las y los consumidores</a>
                    <a href="http.www.google.com.ar">Mapa del sitio</a>
                    <a href="http.www.google.com.ar">Contáctenos</a>
                    <a href="http.www.google.com.ar">Ayuda</a>
                </div>
            </div>
            <div class="col-6" id="dos">
                <div class="col-6" id="pub">
                    <div>
                        <h6 class="h6-tecnotab-digital"><strong>Tecnotab Digital</strong></h6>
                        <p><strong> Pago mensual, durante 6 meses o anual</strong></p>
                        <button class="boton-suscribite">SUSCRÍBITE</button>
                    </div>
                    <div>
                        <h6 class="h6-tecnotab-digital"><strong>Incluye:</strong></h6>
                        <li>Acceso ilimitado a tecnotab.com</li>
                        <li>La App sin limites</li>
                        <li>Acceso a Contenido Exlusivo</li>
                    </div>
                </div>
                <div Class="col-6" id="mini">
                    <p class="leer-papel"><strong>Leer edicion en papel</strong></p>
                    <img class="mini-diario" src="assets/images/MiniDiario.png" alt="">

                </div>
            </div>
        </div>
    </div>
    <script src="delfi-comentarios.js"></script>
    <script src="/Bootstrap/js/bootstrap.min.js"></script>

</body>

</html>